.form-text-input {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.signature-pad {
  border: 1px solid var(--ion-color-light-shade);
}

.checkbox-align-fix {
  margin-top: 7px;
}

signature-pad canvas {
    border: dashed 1px #cccccc;
    width: 450px;
    height: 200px;
}

.trash-icon{
  font-size: 40px;
}
